.bill-date {
    display: flex;
    flex-direction: column;
    width: 5.5rem;
    height: 5.5rem;
    background-color: #2a2a2a;
    color: rgb(230, 212, 50);
    border-radius: 12px;
    align-items: center;
    justify-content: center;
  }
  
  .bill-date__month {
    font-size: 0.75rem;
    font-weight: bold;
  }
  
  .bill-date__year {
    font-size: 0.75rem;
  }
  
  .bill-date__day {
    font-size: 1.5rem;
    font-weight: bold;
  }